[default]
region =  
output = text
s3api =
    endpoint_url = http://127.0.0.1:5555
s3bucket-policy = 
    endpoint_url = http://127.0.0.1:5555

[plugins]
#s3bucket-policy = aws_plugin_bucket_policy
endpoint = awscli_plugin_endpoint
#cli_legacy_plugin_path = /home/tomash/.local/lib/python3.6/site-packages
cli_legacy_plugin_path = /home/tomash/work/cesnet/work/ceph/s3/policy/awscli_plugin/venv/lib/python3.8/site-packages
